.optionWrapper {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.optionButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-weight: bold;
}

.optionButton:hover {
    background-color: blue;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}